@page
@using Microsoft.Extensions.Localization
@using ProgecDo.Localization
@model ProgecDo.Web.Pages.ToDos.Index
@inject IStringLocalizer<ProgecDoResource> L

@section scripts
{
    <abp-script src="/Pages/ToDos/ToDo.js"/>
}

<style>
    a p{
      color: black;
    }     
</style>

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-page="/ProjectBoard/Index" asp-route-projectId="@Model.ToDos.ProjectId">@Model.ToDos.ProjectTitle</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10 mx-auto">
        <div class="card">

            <div class="card-body">

                <div class="row">

                    <div class="col-2">
                        <abp-button id="NewToDoListButton"
                                    class="border-0"
                                    icon="plus"
                                    data-id="@Model.ToDos.ProjectId"
                                    button-type="Success"
                                    text="@L["NewToDoList"].Value"/>

                    </div>

                    <div class="col-10">
                        <div style="  left:50%" class="text-center">
                            <h2 class="card-title">@L["Todos"].Value</h2>
                        </div>
                    </div>

                </div>
                <hr class="bold-hr">

                @foreach (var toDo in Model.ToDos.ToDos)
                {
                    <div class="row">
                        <div class="col-2">

                        </div>
                        <div class="col-10">

                            <a href="/ToDos/ShowToDoList?toDoListId=@toDo.Id">
                                <i class="fa fa-bars" aria-hidden="true" style="margin-right: 5px;"></i>
                                <u>
                                    <b style="font-size: larger">@toDo.Name</b>
                                </u>
                            </a>
                            <p> @toDo.Description</p>

                            @foreach (var toDoItem in toDo.ToDoItems)
                            {
                                <abp-row>
                                    <span>
                                        <i class="fa fa-bars" aria-hidden="true" style="margin-right: 5px;"></i>
                                        @toDoItem.Description
                                        @if (toDoItem.DueDate != null)
                                        {
                                            <i class="fa fa-calendar" aria-hidden="true" style="margin-left: 5px; font-weight: normal"></i>
                                            @toDoItem.DueDate?.ToShortDateString()
                                        }
                                    </span>
                                    <br>
                                    @foreach (var user in toDoItem.ToDoItemUsers)
                                    {
                                        <div class="namesContainerSmall" style="margin-left: 10px;">
                                            <div class="namesTextSmall">
                                                @if (string.IsNullOrWhiteSpace(user.User.Name))
                                                {
                                                    <span>@Html.Raw(user.User.UserName?[0].ToString().ToUpper())</span>
                                                }
                                                else
                                                {
                                                    <span>@Html.Raw(user.User.Name?[0].ToString().ToUpper())@Html.Raw(user.User.Surname?[0].ToString().ToUpper())</span>
                                                }
                                            </div>
                                        </div>
                                        @if (string.IsNullOrWhiteSpace(user.User.Name))
                                        {
                                            <span>@Html.Raw(user.User.UserName)</span>
                                        }
                                        else
                                        {
                                            <span>@Html.Raw(user.User.Name) @Html.Raw(string.IsNullOrWhiteSpace(user.User.Surname) ? "" : user.User.Surname[0].ToString().ToUpper() + ".")</span>
                                        }
                                    }
                                </abp-row>
                            }

                            <br>
                            <abp-button class="border-1 CreateToDoItemButton"
                                        data-id="@toDo.Id"
                                        button-type="Outline_Success"
                                        text="@L["AddToDoItem"].Value"/>
                            <hr>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>