@page
@using Microsoft.Extensions.Localization
@using ProgecDo.Localization
@using ProgecDo.Projects
@model ProgecDo.Web.Pages.ToDos.Index
@inject IStringLocalizer<ProgecDoResource> L

@section scripts
{
    <abp-script src="/Pages/ToDos/ToDo.js"/>
}

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-page="/ProjectBoard/Index" asp-route-projectId="@Model.ToDos.ProjectId">@Model.ToDos.ProjectTitle</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10 mx-auto">
        <div class="card">

            <div class="card-body">
                <div style=" float:left;">

                    <abp-button id="NewToDoListButton"
                                class="border-0"
                                icon="plus"
                                data-id="@Model.ToDos.ProjectId"
                                button-type="Success"
                                text="@L["NewToDoList"].Value"/>

                </div>

                <div style="  left:50%" class="text-center">
                    <h2 class="card-title">@L["Todos"].Value</h2>
                </div>

                <hr>

                @foreach (var toDo in Model.ToDos.ToDo)
                {
                    <a href="/ToDos/ShowToDoList?toDoListId=@toDo.Id">
                        <i class="fa fa-bars" aria-hidden="true" style="margin-right: 5px;"></i>
                       <u><b style="font-size: larger">@toDo.Name</b></u>
                    </a>
                    <p> @toDo.Description</p>
                                         
                    @foreach (var toDoItem in toDo.ToDoItems)
                    {
                        <span>
                            <i class="fa fa-bars" aria-hidden="true" style="margin-right: 5px;"></i>
                            @toDoItem.Description
                        </span>
                        <br>
                    }
                    <br>
                    <abp-button class="border-1 CreateToDoItemButton" 
                                data-id="@toDo.Id"
                                button-type="Outline_Success"
                                text="@L["AddToDoItem"].Value"/>
                    <hr>
                }
            </div>
        </div>
    </div>
</div>