@page
@using Microsoft.Extensions.Localization
@using ProgecDo.Localization
@model ProgecDo.Web.Pages.ToDos.ShowToDoItem
@inject IStringLocalizer<ProgecDoResource> L

@section scripts
{
    <abp-script src="/Pages/ToDos/ToDo.js"/>
}

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-page="/ProjectBoard/Index" asp-route-projectId="@Model.ToDoItem.ProjectId">@Model.ToDoItem.ProjectTitle</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 mx-auto">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        @* <h3>  </h3> *@
                    </div>
                    <div class="btn-group dropleft float-right my-dropdown-dropleft">
                        <button type="button" class="btn btn-outline-primary border-0 my-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-v"></i>
                        </button> 
                            <div class="dropdown-menu bg-primary ">
                                <a class="dropdown-item my-dropdown-item" href="#" onclick="editToDoItemDropdown('@Model.ToDoItem.ParentId','@Model.ToDoItem.Id')">
                                    <i class="fa fa-pencil"></i><span>&nbsp @L["Edit"].Value</span>
                                </a>
                                <a class="dropdown-item my-dropdown-item" href="#" onclick="deleteToDoItemDropdown('@Model.ToDoItem.Id','@Model.ToDoItem.ParentId')">
                                    <i class="fa fa-trash"></i><span>&nbsp&nbsp @L["Delete"].Value</span>
                                </a>
                            </div> 
                    </div>
                </div>
                <hr>
                <abp-dynamic-form abp-model="ToDoItem" asp-page="/ToDos/CreateToDoItemModal">
                    @* <abp-modal> *@
                    @*     <abp-modal-header style="background-image: url('/img/modalHeader.jpg');" title="@L["AddToDoItem"].Value"></abp-modal-header> *@
                    @*     <abp-modal-body> *@
                    <abp-form-content/>
                    @*     </abp-modal-body> *@
                    @*     <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer> *@
                    @* </abp-modal> *@
                </abp-dynamic-form>
            </div>
        </div>
    </div>
</div>