@page
@using Microsoft.Extensions.Localization
@using ProgecDo.Localization
@model ProgecDo.Web.Pages.ToDos.ShowToDoItem
@inject IStringLocalizer<ProgecDoResource> L

<style>
    .namesContainer {
      width: 25px;
      height: 25px;
      border-radius: 50px;
      background: #333;
      cursor: default; 
      margin-left: 5px;
      margin-right: 5px;
    }
    .namesText {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 12px;
      line-height: 25px;
      font-family: "Helvetica", "serif"
    }
    a p{
      color: black;
    }     
</style>

@section scripts
{
    <abp-script src="/Pages/ToDos/ToDo.js"/>
}

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-page="/ProjectBoard/Index" asp-route-projectId="@Model.ToDoItem.ProjectId">@Model.ToDoItem.ProjectTitle</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-page="/ToDos/Index" asp-route-projectId="@Model.ToDoItem.ProjectId">@L["Todos"].Value</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-page="/ToDos/ShowToDoList" asp-route-toDoListId="@Model.ToDoItem.ParentId">@Model.ToDoItem.ToDoListName</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 mx-auto">
        <div class="card">

            <div class="card-body">
                <div class="row">

                    <div class="col-11 text-center">
                        <b style="font-size: xx-large">
                            @Model.ToDoItem.Description
                        </b>
                    </div>

                    <div class="col-1">
                        <div class="btn-group dropleft float-right my-dropdown-dropleft">
                            <button type="button" class="btn btn-outline-primary border-0 my-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu bg-primary ">
                                <a class="dropdown-item my-dropdown-item" href="#" onclick="editToDoItemDropdown('@Model.ToDoItem.ParentId','@Model.ToDoItem.Id')">
                                    <i class="fa fa-pencil"></i><span>&nbsp @L["Edit"].Value</span>
                                </a>
                                <a class="dropdown-item my-dropdown-item" href="#" onclick="deleteToDoItemDropdown('@Model.ToDoItem.Id','@Model.ToDoItem.ParentId')">
                                    <i class="fa fa-trash"></i><span>&nbsp&nbsp @L["Delete"].Value</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <br>
                <hr>
                <br>
                <div class="row">
                    <div class="col-3">
                        <b>
                            <p class="text-right" style="font-size: larger">@L["Notes"].Value</p>
                        </b>
                    </div>
                    <div class="col-9">
                        <p style="font-size: larger">@Model.ToDoItem.Note</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-3">
                        <b>
                            <p class="text-right" style="font-size: larger">@L["DueOn"].Value</p>
                        </b>
                    </div>
                    <div class="col-9">
                        <p style="font-size: larger">
                            @if (Model.ToDoItem.DueDate != null)
                            {
                                <i class="fa fa-calendar" aria-hidden="true" style="font-weight: normal"></i>
                                @Model.ToDoItem.DueDate?.ToShortDateString()
                            }
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-3">
                        <b>
                            <p class="text-right" style="font-size: larger">@L["AssignedTo"].Value</p>
                        </b>
                    </div>
                    <div class="col-9">
                        <abp-row>
                            @foreach (var user in Model.ToDoItem.ToDoItemUsers)
                            {
                                <div class="namesContainer">
                                    <div class="namesText">
                                        @if (string.IsNullOrWhiteSpace(user.User.Name))
                                        {
                                            <span> @Html.Raw(user.User.UserName?[0].ToString().ToUpper())</span>
                                        }
                                        else
                                        {
                                            <span> @Html.Raw(user.User.Name?[0].ToString().ToUpper())@Html.Raw(user.User.Surname?[0].ToString().ToUpper())</span>
                                        }
                                    </div>
                                </div>
                                @if (string.IsNullOrWhiteSpace(user.User.Name))
                                {
                                    <span> @Html.Raw(user.User.UserName)</span>
                                }
                                else
                                {
                                    <span> @Html.Raw(user.User.Name) @Html.Raw(string.IsNullOrWhiteSpace(user.User.Surname) ? "" : user.User.Surname[0].ToString().ToUpper() + ".")</span>
                                }
                            }
                        </abp-row>

                        <abp-button class="border-1"
                                    data-id="@Model.ToDoItem.Id"
                                    button-type="Outline_Success"
                                    onclick="assignUserToToDoItem('@Model.ToDoItem.Id')"
                                    text="@L["AssignUserToToDoItem"].Value"
                                    style="margin-top: 10px;"/>
                    </div>
                </div>

                <br>
            </div>
        </div>
    </div>
</div>