@page
@using Microsoft.Extensions.Localization
@using ProgecDo.Localization
@model ProgecDo.Web.Pages.ToDos.ShowToDoList
@inject IStringLocalizer<ProgecDoResource> L

@section scripts
{
    <abp-script src="/Pages/ToDos/ToDo.js"/>
}

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-page="/ProjectBoard/Index" asp-route-projectId="@Model.ToDoList.ProjectId">@Model.ToDoList.ProjectTitle</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10 mx-auto">
        <div class="card">

            <div class="card-body">
                <a href="#" data-id="@Model.ToDoList.Id" id="EditToDoListButton">@Model.ToDoList.Name</a>
                <abp-button id="NewToDoItemButton"
                            class="border-0"
                            icon="plus"
                            data-id="@Model.ToDoList.Id"
                            button-type="Outline_Success"
                            text="@L["AddToDoItem"].Value"/>

                @foreach (var item in Model.ToDoList.ToDoItems)
                {
                    <p>
                        <a asp-page="/ToDos/ShowToDoItem" asp-route-toDoListId="@item.Id">@item.Description</a>
                    </p>
                }

            </div>
        </div>
    </div>
</div>